* {margin: 0; padding: 0;}

body {
	background: #7C6F5C url(image/bg.jpg);
	color: #222;
	padding: 2% 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

a {color: #642;}
a:hover {color: #963;}

h1,h2,h3 {color: #442; padding: 8px 0 2px; margin-left: 10px;}


form,table {margin-bottom: 1.2em;}
label {display: block;}
li {line-height: 1.5em;}
p {padding: 2px 0 10px; margin-left: 50px; margin-right: 50px; }
.smalltext {
	font-size: 0.9em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
ul {padding: 0 2em 1.2em;}

#wrapper {
	background: #332 url(image/wrapper.gif) no-repeat left bottom;
	margin: 0 auto;
	width: 762px;
}
#container {
	background: #E2DED4;
	
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 auto;
	width: 750px;
	height: 750px;
	position: relative;
}

#container2 {
	background: #E2DED4;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 auto;
	width: 750px;
	position: relative;
	border-top: 6px solid #332;
}

#container3 {
	background: #FBF9F4;
	border-bottom: 6px solid #332;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 auto;
	width: 750px;
	position: relative;
	}


#container_backup {
	background: #FBF9F4;
	border-top: 6px solid #332;
	font-size: 1.3em;
	line-height: 1.3em;
	margin: 0 auto;
	width: 750px;
	height: 750px;
	position: relative;
	border: 5px solid #663;
 
}


.center_pos {
	position: absolute; left: 175px; top: 175px;
}


.title {
	background: #E2DED4;
	border-top: 1px solid #996;
}
.title h1 {
	color: #441;
	padding: 10px 0 10px 18px;
	font-size: 2.2em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.header {
	border-top: 2px solid #663;
	background: #DAD7C5 url(image/header.jpg) no-repeat left bottom;
	height: 220px;
}


.main#two-columns {background: #FFF url(image/two-columns.gif) repeat-y;}


.footer {
	background: #332;
	color: #EED;
	padding: 10px;
}
.footer .left {width: 66%;}
.footer .right {
	width: 33%;
	text-align: right;
}
.footer a {
	color: #FFF;
	text-decoration: none;
}
.footer a:hover {
	color: #FFF;
	text-decoration: underline;
}


.clear,.clearer {clear: both;} 
.clearer {font-size: 0;}
.col2 .left {width: 64%;}
.col2 .right .content {background: #FFF;}
.col2 .right {width: 33%;}
.content {padding: 18px 20px;}
.left {float: left;}
.right {float: right;}
.right .content {padding: 18px 12px 12px;}

#menu {
	height: 21px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #5F342B;
	border-bottom-color: #5F342B;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	color: #333322;
}
.floatleft {
	float: left;
}


.text_box { 
         position: absolute; 
		 left: 225px; 
		 top: 525px; 
		
		 background-color : #99FFCC;
		 
		 z-index: top;
		 
		
		 border-radius: 10px 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; 
		 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
		 font-family: Calibri, Tahoma, Geneva, sans-serif;
			
		 margin-left: 10; 
		 padding: 7px;
		 }
		 
		 .tooltip {
			border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: help; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span {
			border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
			box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 1em; top: 2em; z-index: 99;
			margin-left: 0; width: 250px;
		}
		.tooltip:hover img {
			border: 0; margin: -10px 0 0 -55px;
			float: left; position: absolute;
		}
		.tooltip:hover em {
			font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
			display: block; padding: 0.2em 0 0.6em 0;
		}
		.classic { padding: 0.8em 1em; }
		.custom { padding: 0.5em 0.8em 0.8em 2em; }
		* html a:hover { background: transparent; }
		.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
		.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
		.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
		.warning { background: #FFFFAA; border: 1px solid #FFAD33; }

<style type="text/css">

	
	a {
		text-decoration:none; 
		color:#333;
	}
	
	#lava {
		/* you must set it to relative, so that you can use absolute position for children elements */
		position:relative; 
		background:url(image/bar2.gif) no-repeat center bottom; 
		text-align:center; 
		width:750px; 
		height:40px;
	}
	
	#lava ul {
		/* remove the list style and spaces*/
		margin:0; 
		padding:0; 
		list-style:none; 
		display:inline;
				
		/* position absolute so that z-index can be defined */
		position:absolute; 
		
		/* center the menu, depend on the width of you menu*/
		left:20px; 
		top:5px; 
		
		/* should be higher than #box */
		z-index:100;

	}
	
	#lava ul li {
		
		/* give some spaces between the list items */
		margin:0 15px; 
		
		/* display the list item in single row */
		float:left;
	}
	
	#lava #box {
		
		/* position absolute so that z-index can be defined and able to move this item using javascript */
		position:absolute; 
		left:0; 
		top:5px; 
		
		/* should be lower than the list menu */
		z-index:50; 

		/* image of the right rounded corner */
		background:url(image/tail2.png) no-repeat right center; 
		height:20px;
		
		/* add padding 8px so that the tail would appear */
		padding-right:8px;
		
		/* self-adjust negative margin to make sure the box display in the center of the item */
		margin-left:-10px;
	}
	
	#lava #box .head {
		/* image of the left rounded corner */
		background:url(image/head2.png) no-repeat 0 0; 
		height:20px;

		/* self-adjust left padding to make sure the box display in the center of the item */
		padding-left:10px;
	}
	
	
	#lava_container {
		text-align:left;
		width:750px;
		margin:0 auto;	
	}
	
	
	</style>
